<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:asset.css identifier="project-status" nonce="{f:security.nonce(directive: 'style-src')}">
        .topbar-header-project-status__context {
            display: inline-block;
            padding: 10.5px 13.5px;
        }
    </f:asset.css>
    <div class="topbar-header-project-status">
        <f:if condition="{context}">
            <div class="topbar-header-project-status__context" data-context="{context.text}" title="Application context" style="background-color:{context.color};color:{context.textColor}"><core:icon identifier="{context.icon}" size="small" /> {context.text}</div>
        </f:if>
    </div>

</html>
