.environment-indicator-widget {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.environment-indicator-widget__text {
    margin-top: 10px;
}
.environment-indicator-widget__description {
    margin-top: 6px;
    padding: 0 12px;
    font-size: 12px;
    text-align: center;
    opacity: 0.85;
}
.environment-indicator-widget__help {
    margin-top: 10px;
    font-size: 10px;
}
