<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="technical-context-hint" href="EXT:typo3_environment_indicator/Resources/Public/Css/TechnicalContextHint.css"  nonce="{f:security.nonce(directive: 'style-src', scope: 'static')}"/>
<f:asset.script identifier="technical-context-hint-js" src="EXT:typo3_environment_indicator/Resources/Public/JavaScript/TechnicalContextHint.js"  nonce="{f:security.nonce(directive: 'script-src', scope: 'static')}"/>

<div
    class="technical-context technical-context--custom-colors {positionClass}"
    data-context="{context}"
    data-bg-color="{color}"
    data-text-color="{textColor}"
    aria-hidden="true"
    title="Environment indicator: this site runs in the {context} application context. Drag the hint to another corner or close it for this browser session.{f:if(condition: description, then: ' {description -> f:format.htmlspecialchars()}')}"
>
    <div class="technical-context__content">
        {title}
    </div>
    <button
        type="button"
        class="technical-context__close"
        tabindex="-1"
        aria-label="Close context hint"
    ></button>
</div>

</html>
