<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="technical-context-hint" href="EXT:typo3_environment_indicator/Resources/Public/Css/TechnicalContextHint.css"  nonce="{f:security.nonce(directive: 'style-src', scope: 'static')}"/>
<f:asset.script identifier="technical-context-hint-js" src="EXT:typo3_environment_indicator/Resources/Public/JavaScript/TechnicalContextHint.js"  nonce="{f:security.nonce(directive: 'script-src', scope: 'static')}"/>

<div
    class="technical-context technical-context--custom-colors"
    data-context="{context}"
    data-bg-color="{color}"
    data-text-color="{textColor}"
    data-position-x="{positionX}"
    data-position-y="{positionY}"
    aria-hidden="true"
    title="This is part of environment indicator extension and shows the actual site name of the website. This hint will not be displayed in production context."
>
    {title}
    <f:if condition="{description}">
        <span class="technical-context__description">{description}</span>
    </f:if>
    <button
        type="button"
        class="technical-context__close"
        tabindex="-1"
        aria-label="Close context hint"
    ></button>
</div>

</html>
